.border {
  width: 1170px;
  border: black solid 1px;
  margin: auto;
}

.block1 {
  width: 20%;
  padding: 2%;
  background-color: rgb(250, 206, 214);
  margin-left: 2%;
  display: inline-block;
}

.block2 {
  width: 10%;
  padding: 2%;
  float: right;
  background-color: rgb(250, 206, 214);
  margin-right: 2%;
  display: inline-block;
}

.block3 {
  width: 20%;
  padding: 2.5%;
  background-color: rgb(250, 206, 214);
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.block4 {
  width: 5%;
  padding: 1%;
  background-color: rgb(250, 206, 214);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.block5 {
  padding: 1%;
  background-color: rgb(250, 206, 214);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.block5p1 {
  width: 20%;
  padding: 1%;
  background-color: rgb(145, 143, 143);
  margin-left: 2%;
  margin-bottom: 2%;
  display: inline-block;
}

.block5p2 {
  width: 30%;
  padding: 2%;
  background-color: rgb(145, 143, 143);
  margin-left: 5%;
  display: inline-block;
}

.block5p3 {
  width: 25%;
  padding: 1%;
  float: right;
  background-color: rgb(145, 143, 143);
  margin-top: 1%;
  margin-right: 2%;
  display: inline-block;
}

.block5p4 {
  width: 20%;
  padding: 1%;
  background-color: rgb(145, 143, 143);
  margin-left: 2%;
  margin-bottom: 2%;
  display: inline-block;
}

.block5p5 {
  width: 62.55%;
  padding: 3%;
  background-color: rgb(145, 143, 143);
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 2%;
  display: inline-block;
}

.block5p6 {
  width: 25%;
  padding: 1%;
  background-color: rgb(145, 143, 143);
  margin-left: 29.35%;
  margin-top: 1%;
  margin-right: 2%;
}

.block5p7 {
  width: 21%;
  padding: 3%;
  background-color: rgb(145, 143, 143);
  margin-left: 29.35%;
  margin-top: 2%;
  margin-right: 2%;
  display: inline-block;
}

.block5p8 {
  width: 25%;
  padding: 1.5%;
  background-color: rgb(145, 143, 143);
  margin-bottom: 1.5%;
  display: inline-block;
}

.block6 {
  width: 10%;
  padding: 2%;
  border: black solid 1px;
  background-color: rgb(250, 206, 214);
  margin-top: 3%;
  margin-left: 2%;
  margin-bottom: -4.4%;
  display: inline-block;
}

.block7 {
  width: 10%;
  padding: 1%;
  float: right;
  background-color: rgb(145, 143, 143);
  margin-right: 2%;
  margin-top: 4%;
  margin-left: 2%;
  display: inline-block;
}

.block10 {
  padding: 1%;
  border: black solid 1px;
  background-color: rgb(250, 206, 214);
  margin-top: 4%;
}

.block10p1 {
  width: 15%;
  padding: 2%;
  background-color: rgb(145, 143, 143);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  display: inline-block;
}

.block10p2 {
  width: 10%;
  padding: 1%;
  background-color: rgb(145, 143, 143);
  margin-top: 2%;
  margin-left: 1%;
}

.block10p3 {
  width: 77%;
  padding: 2.5%;
  background-color: rgb(145, 143, 143);
  margin-left: 1%;
  margin-top: 1%;
  display: inline-block;
}

.block10p4 {
  width: 9%;
  padding: 2.5%;
  background-color: rgb(145, 143, 143);
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  display: inline-block;
}

.block10p5 {
  width: 30%;
  padding: 1%;
  background-color: rgb(145, 143, 143);
  margin-top: 1%;
  margin-left: 1%;
}

.block10p6 {
  width: 93%;
  padding: 2.5%;
  background-color: rgb(145, 143, 143);
  margin-left: 1%;
  margin-top: 1%;
  display: inline-block;
}

.block11 {
  width: 12%;
  padding: 0.5%;
  background-color: rgb(145, 143, 143);
  margin-top: 2%;
  margin-left: 11%;
  display: inline-block;
}

.block12 {
  width: 30%;
  padding: 0.5%;
  float: right;
  background-color: rgb(145, 143, 143);
  margin-top: 2%;
  margin-right: 11%;
  display: inline-block;
}
